
.header {
  background-color: #2874f0;
  height: 100px; 
  width: 100%;
}
.header-container{ 
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  
}
.menu{
  display: none;
} 
.first {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.first1 {
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
}
.first > img {
  width: 85px;
  object-fit: contain;
}
.second {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  padding: 0 10px;
}
.second > input {
  border: none;
  outline: none;
  width: 36vw;
  padding: 10px 15px;
  border-radius: 3px;
}
.second > .MuiSvgIcon-root {
  color: #2874f0;
  padding: 0px 5px;
  font-size: 30px;
}
.dropdown{
  z-index: 200;
}

.fifth-nav{
  display: flex;
  align-items: center;
  gap: 10px;
}

.fifth-nav h1 {
  color: white;
  font-size: 20px;
  font-weight: 500;
}


@media (max-width: 480px){
  .second{
    display: none;
  }
  .first > img {
    width: 55px;
    object-fit: contain;
  }
  .dropdown{
    display: none;
  }
  .first1{
    font-size: 8px;
  }
  .menu{
    display: flex;
  }
  .fifth-nav h1{
    display: none;
  }
  .dropdown{
    display: block;
  } 
  
}